/* style.css */
body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
	position: relative;
}

button#myButton {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
	position: relative;
}

button[type = "button"] {
	cursor: pointer;
	position: relative;
}

textarea {
	width: 300px;
	margin: 20px auto;
	display: block;
}

a { 
	position: fixed;
	right: 1300px;
	bottom: 700px;
}

.hero-section {
	background-image: url('cool.jpg');
	background-position: center;
	background-repeat: no-repeat;
	min-height: 150vh;
	
	background-size: cover;
	background-attachment: fixed;
	
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	gap: 40px;
	padding-top: 100px;
}
	