/* style.css */
body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
	position: relative;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

textarea {
	width: 300px;
	margin: auto;
}

a { 
	position: fixed;
	right: 1300px;
	bottom: 700px;
}
